[Unit]
Description=Snapcast MPRIS Proxy
After=dbus.service network-online.target
Wants=dbus.service network-online.target

[Service]
Environment="SNAPCAST_SERVER=localhost"
Environment="SNAPCAST_CLIENT=%H"
ExecStart=/home/pi/.local/bin/snapcast-mpris-proxy ${SNAPCAST_SERVER} ${SNAPCAST_CLIENT}
StandardOutput=journal
StandardError=journal
SyslogIdentifier=snapcast-mpris-proxy
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target